.header, .footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(92,13,38,1) 0%, rgba(142,22,58,1) 100%);
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
    color: gold;
}

.main {
    display: flex;
    background-color: #b09677 ;
    min-height: 80vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
}

.logo {
    padding: 5px;
    opacity: 0.9;
    height: 530px;
    position: sticky;
    top: 0;
}

.sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 75px;
    background-color: #861537;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #861537;
    background-color: gold;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    border: 2px solid #861537;
    transition: all 0.3s ease;
    cursor: pointer;
}

.link:hover {
    background-color: #861537;
    color: gold;
    border: 2px solid gold;
    cursor: pointer;
}