.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding: 0px;
    width: 100%;
    height: 7vh;
    background-color: rgb(229, 247, 30);
}

.buttons{
    padding: 10px;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    margin: 0px 5px;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    transition: 0.3s;
}
.buttons:hover{
    background-color: rgb(38, 36, 36);
    color: white;
    transition: 0.3s;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100vh;
    justify-content: space-around;
}

.error{
    color: red;
    font-size: 500px;
    font-weight: bold;
    text-align: center;
}

.errorBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    height: 30vh;
    background-color: rgb(229, 247, 30);
}